@font-face {
  font-family: "KoPubDotumMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "KoPubDotumMedium" !important;
  letter-spacing: 1px;
}

input:focus {
  outline: none;
  border-bottom: 1px solid #1c4c85 !important;
  transition: all 0.2s;
  /* error */
  /* border-bottom: 1px solid rgb(248, 118, 128) !important; */
}

body {
  background-color: #fff;
  color: #17171b;
}

.container {
  width: 550px;
  height: 100%;
  margin: 80px auto;
  background-color: #fff;
  padding: 40px 30px;
  box-sizing: border-box;
}

.container .header {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
  margin-bottom: 35px;
  border-bottom: 2px solid #333;
}

.row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 35px;
}

.row .item {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.row .item label {
  font-size: 13px;
  font-weight: bold;
}

.row .item label span {
  color: #ee6a7b;
  margin-left: 3px;
}

.row .item input {
  font-size: 14px;
  height: 35px;
  border: 0;
  border-bottom: 1px solid #c9cad0;
}

.row .item input.error {
  border-bottom: 1px solid #ee6a7b !important;
}

.row .item p.error-msg {
  position: absolute;
  right: 0;
  top: 50%;
  font-size: 11px;
  font-weight: bold;
  color: #999;
}

.row .item p.error-msg.error {
  color: #d50c0c;
}

.row .item p.error-msg.good {
  color: #24a94e;
}

.row .item .pw-check {
  margin-top: 5px;
}

.row .item input::placeholder {
  color: #c9cad0;
}

.row button {
  border: 1px solid #1c4c85;
  color: #1c4c85;
  background-color: #fff;
  width: 170px;
  height: 35px;
  margin-left: 10px;
  font-weight: bold;
  cursor: pointer;
}

.btn-join {
  border: 1px solid #1c4c85;
  background-color: #1c4c85;
  color: #fff;
  width: 100%;
  height: 50px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}